<a href="https://colab.research.google.com/github/Ekeneobi/RE-Market-Automated-Subscription-Project/blob/main/CalgaryRE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Code to ignore warnings from function usage
import warnings;
import numpy as np
warnings.filterwarnings('ignore')

In [3]:
calgary = pd.read_csv('https://api.apify.com/v2/datasets/a4oH2fbnk6BrH7xEE/items?attachment=true&clean=true&format=csv')
# Copying data to another variable to avoid any changes to original data
data = calgary.copy()

In [ ]:
data.head()

In [ ]:
data.drop(data.iloc[:, 18:78], inplace=True, axis=1)

data.info()

In [5]:
data.drop(data.columns[[0,1,2,3,5,9,11,13,19,21]], inplace=True, axis=1)
data.head()

,address/streetAddress,address/zipcode,bathrooms,bedrooms,datePostedString,description,homeType,latitude,livingArea,longitude,price,yearBuilt
0,20 W Saddlestone Grv NE,T3J0Z6,5.0,6.0,2022-12-20,6-Bedrooms | 4.5-Bathrooms | 2492 SqFt Includi...,SINGLE_FAMILY,51.125633,1798.0,-113.925575,709900,2018.0
1,10 S Brentwood Cmn NW #905,T2L2L6,1.0,2.0,2022-12-20,"Immaculate condition two bedrooms, condo apar...",APARTMENT,51.086967,505.0,-114.128296,282500,2015.0
2,219 N 90th Ave SE #84,T2J0A3,1.0,2.0,2022-12-20,Welcome HOME to this charming END UNIT townhou...,TOWNHOUSE,50.972137,NaN,-114.067085,249900,1970.0
3,1211 S Auburn Bay Cir SE,T3M1S6,3.0,2.0,2022-12-20,Welcome home to ZEN at Auburn Bay! This upper ...,TOWNHOUSE,50.884705,1144.0,-113.953030,335000,2012.0
4,993 N Citadel Dr NW,T3G3X4,3.0,6.0,2022-12-20,Nice 1364 SQF walkout Bungalow with fully deve...,SINGLE_FAMILY,51.140408,1364.0,-114.172340,589900,1994.0

In [6]:
data.shape

(1713, 12)

In [11]:
data.rename(columns={'address/streetAddress':'address','address/zipcode':'zipcode','datePostedString':'dateposted','homeType':'tome','livingArea':'Area','yearBuilt':'built', 'tome':'type'}, inplace=True)
data.head()

,address,zipcode,bathrooms,bedrooms,dateposted,description,type,latitude,Area,longitude,price,built
0,20 W Saddlestone Grv NE,T3J0Z6,5.0,6.0,2022-12-20,6-Bedrooms | 4.5-Bathrooms | 2492 SqFt Includi...,SINGLE_FAMILY,51.125633,1798.0,-113.925575,709900,2018.0
1,10 S Brentwood Cmn NW #905,T2L2L6,1.0,2.0,2022-12-20,"Immaculate condition two bedrooms, condo apar...",APARTMENT,51.086967,505.0,-114.128296,282500,2015.0
2,219 N 90th Ave SE #84,T2J0A3,1.0,2.0,2022-12-20,Welcome HOME to this charming END UNIT townhou...,TOWNHOUSE,50.972137,NaN,-114.067085,249900,1970.0
3,1211 S Auburn Bay Cir SE,T3M1S6,3.0,2.0,2022-12-20,Welcome home to ZEN at Auburn Bay! This upper ...,TOWNHOUSE,50.884705,1144.0,-113.953030,335000,2012.0
4,993 N Citadel Dr NW,T3G3X4,3.0,6.0,2022-12-20,Nice 1364 SQF walkout Bungalow with fully deve...,SINGLE_FAMILY,51.140408,1364.0,-114.172340,589900,1994.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1713 entries, 0 to 1712
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      1713 non-null   object
 1   zipcode      1711 non-null   object
 2   bathrooms    1686 non-null   float64
 3   bedrooms     1672 non-null   float64
 4   dateposted   1713 non-null   object
 5   description  1713 non-null   object
 6   tome         1713 non-null   object
 7   latitude     1713 non-null   float64
 8   Area         959 non-null    float64
 9   longitude    1713 non-null   float64
 10  price        1713 non-null   int64
 11  built        1664 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 160.7+ KB

In [12]:
data.to_csv('calgaryre.csv',index=False)